

<div class="navbar navbar-inverse navbar-fixed-top" style="margin:0;">
    <div style="color: #d50000;">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Gains", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Health Calculator", "Calculator", "HealthCalculator")</li>
                <li>@Html.ActionLink("Diet Plans", "Index", "DietPlans")</li>
                <li>@Html.ActionLink("Workout Plans", "Index", "WorkoutPlans")</li>
                <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>

            </ul>
        </div>
    </div>
</div>
